.analysis-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.analysis-detail-title {
  margin-bottom: 1rem;
  font-size: 3rem;
}
.analysis-detail-name {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.analysis-detail-img {
  margin: 1rem auto;
  max-width: 100rem;
}
.analysis-detail-text {
  font-size: 2rem;
  color: #797979;
  line-height: 1.5;
}
.analysis-detail-description {
  max-width: 100rem;
  margin: 5rem auto;
}
@media (max-width: 1050px) {
  .analysis-detail-img {
    max-width: 90rem;
  }
  .analysis-detail-description {
    margin: 3rem 3rem;
  }
}
@media (max-width: 960px) {
  .analysis-detail-img {
    max-width: 80rem;
  }
  .analysis-detail-name {
    font-size: 2rem;
  }
  .analysis-detail-title {
    font-size: 2rem;
  }
  .analysis-detail-description {
    margin: 1rem 5rem;
  }
  .analysis-detail-text {
    font-size: 1.5rem;
  }
}
@media (max-width: 850px) {
  .analysis-detail-img {
    max-width: 70rem;
  }
}
@media (max-width: 750px) {
  .analysis-detail-img {
    max-width: 60rem;
  }
}
@media (max-width: 650px) {
  .analysis-detail-img {
    max-width: 50rem;
  }
}
@media (max-width: 550px) {
  .analysis-detail-img {
    max-width: 40rem;
  }
  .analysis-detail-title {
    font-size: 2rem;
  }
  .analysis-detail-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 450px) {
  .analysis-detail-img {
    max-width: 30rem;
  }
  .analysis-detail-title {
    font-size: 1.5rem;
  }
  .analysis-detail-text {
    font-size: 1rem;
  }
}
