.news-detail-container {
  place-items: center;
  max-width: 80rem;
  margin: 2rem auto;
}
.news-detail-img-con {
  display: flex;
  justify-content: center;
}
.news-detail-img {
  max-width: 80rem;
}
.news-detail-title {
  text-align: center;

  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 3rem;
}
.news-detail-text {
  font-size: 2rem;
  color: #797979;
  text-align: start;
}

@media (max-width: 880px) {
  .news-detail-container {
    margin: 2rem 5rem;
  }
  .news-detail-img {
    max-width: 60rem;
  }
  .news-detail-title {
    font-size: 2.5rem;
  }
  .news-detail-text {
    font-size: 1.5rem;
  }
}
@media (max-width: 650px) {
  .news-detail-img {
    max-width: 40rem;
  }
  .news-detail-title {
    font-size: 2rem;
  }
  .news-detail-text {
    font-size: 1.2rem;
  }
}
@media (max-width: 445px) {
  .news-detail-img {
    max-width: 30rem;
  }
  .news-detail-title {
    font-size: 1.5rem;
  }
  .news-detail-text {
    font-size: 1rem;
  }
}
